# 3.1 Find Gamma and Epsilon

In [1]:
#import packages
import pandas as pd
import numpy as np

In [2]:
#read input keeping things as string to not drop leading zeros
df = pd.read_csv('Day3_Input.txt', header=None, names=['Input'], dtype='string')
df

            Input
0    010000010010
1    011001011100
2    110011011101
3    110100100001
4    000110011110
..            ...
995  110101001000
996  110001111011
997  010110001100
998  011110111100
999  010100000101

[1000 rows x 1 columns]

In [3]:
df=df['Input'].str.split(pat ="\s*", expand = True) #expand the string
df = df.iloc[:,1:-1] #shave off the empty columns
df = df.apply(pd.to_numeric, axis=1) #convert to numbers
df

     1  2  3  4  5  6  7  8  9  10  11  12
0    0  1  0  0  0  0  0  1  0   0   1   0
1    0  1  1  0  0  1  0  1  1   1   0   0
2    1  1  0  0  1  1  0  1  1   1   0   1
3    1  1  0  1  0  0  1  0  0   0   0   1
4    0  0  0  1  1  0  0  1  1   1   1   0
..  .. .. .. .. .. .. .. .. ..  ..  ..  ..
995  1  1  0  1  0  1  0  0  1   0   0   0
996  1  1  0  0  0  1  1  1  1   0   1   1
997  0  1  0  1  1  0  0  0  1   1   0   0
998  0  1  1  1  1  0  1  1  1   1   0   0
999  0  1  0  1  0  0  0  0  0   1   0   1

[1000 rows x 12 columns]

In [4]:
#create a list of 1's and 0's by looking at the most common value per bit
gamma = ['1' if element > 500 else '0' for element in df.sum()]
gamma  = ''.join(gamma) #concatenate all entries
gamma = int(gamma, 2) #convert from binary
gamma

1503

In [5]:
#repeat the same steps as above, but look for the least frequent value
epsilon = ['0' if element > 500 else '1' for element in df.sum()]
epsilon  = ''.join(epsilon)
epsilon = int(epsilon, 2)
epsilon

2592

In [6]:
#multiply gamma and epsilon
gamma*epsilon

3895776

# 3.2 Find Oxygen and CO2 Scrubber Ratings

In [50]:
#first we find oxygen filtering on the most common value

#set initial parameters for filter loop
df_filter = df
filter_length = len(df_filter)
i =1

while filter_length > 1:
    if df_filter[i].sum() >= len(df_filter)/2:     #sees if 1 is the most common
        df_filter = df_filter[df_filter[i]==1]
    else:
        df_filter = df_filter[df_filter[i]==0]
    i += 1 #iterates through the columns
    filter_length = len(df_filter) #updates length
oxygen_rating = df_filter.iloc[0].to_list() #create a list so we can concatenate and turn to decimal
oxygen_rating = [str(element) for element in oxygen_rating]
oxygen_rating

['0', '1', '1', '1', '1', '1', '0', '0', '0', '1', '1', '1']

In [51]:
#convert from binary string to decimal
oxygen_rating = int(''.join(oxygen_rating),2)
oxygen_rating

1991

In [54]:
#now we will find the CO2 scrubber rating filtering on the least common value

#set initial parameters for filter loop
df_filter = df
filter_length = len(df_filter)
i =1

while filter_length > 1:
    if df_filter[i].sum() >= len(df_filter)/2:     #sees if 1 is the most common
        df_filter = df_filter[df_filter[i]==0]
    else:
        df_filter = df_filter[df_filter[i]==1]
    i += 1 #iterates through the columns
    filter_length = len(df_filter) #updates length
co2_rating = df_filter.iloc[0].to_list() #create a list so we can concatenate and turn to decimal
co2_rating = [str(element) for element in co2_rating]
co2_rating

['1', '1', '1', '1', '1', '0', '0', '0', '1', '1', '1', '0']

In [55]:
#convert from binary string to decimal
co2_rating = int(''.join(co2_rating),2)
co2_rating

3982

In [56]:
oxygen_rating * co2_rating

7928162